* {
    font-family: monospace, sans-serif;
    color: wheat;

}

html {
    overflow-x: hidden;
}

.navbar-toggler span {
    background-color: #be9eb99c;
}

body {
    background: #250821;
    color: whitesmoke;
    overflow-x: hidden;
}


/******************** Navbar ********************/
/**************************************************/

.navbar {
    background-color: transparent;
}

.navbar .container-fluid {
    padding: 0 2.5em;
}

.navbar-nav li a,
.icon-navbar {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-nav li a:hover,
.icon-navbar:hover {
    color: #b353a6;
}

.icon-navbar {
    font-size: x-large;
}

.nav-item {
    margin: 1em;
}


/******************** Main ********************/
/**************************************************/

main .box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content {
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-left {
    height: 60vh;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center
}


.box-texto .parrafo {
    font-size: large;
    letter-spacing: 1px;
}


.col-right {
    height: 60vh;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.col-right img {
    z-index: 20;
    max-height: 25rem;
    clip-path: circle(45% at 50%);
}

.box-burbujas {
    position: absolute;
    height: 35rem;
    width: 35rem;

}

.blob {
    position: absolute;
    width: 35rem;
    top: 5%;
    right: 5%;
}

.blob:nth-child(2) {
    filter: blur(8em);
}

.change-text {
    color: #b353a6;
}


/******************** Banner ********************/
/**************************************************/

.box-icons-skills .fa-brands {
    font-size: 3.5em;
}

.title-site-technologies {
    margin-bottom: 4rem;
}

.box-icons-skills i {
    margin: 0 2vh;
}


.box-skills {
    background: linear-gradient(to left, violet, blueviolet, indigo);
    text-shadow: 2px 5px 15px black;
}


/******************** Projects ********************/
/**************************************************/

.box-projects {
    background: linear-gradient(to left, #461540, #34082f, #33022d);
    
    padding-bottom: 10%;
    min-height: 100vh;
    margin-top: 5rem;
}

.mypage {
    height: 30vh;
    width: 50vh;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
}

.gym {
    background-image: url(img/gym-page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.quilmes {
    background-image: url(img/quilmes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;

}

.bg-effect {
    background-color: rgba(0, 0, 0, 0.600);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    transition: all ease-in-out .5s;
    border-radius: 15px;
    opacity: 0;
}

.bg-effect:hover {
    opacity: 1;
}

.bg-effect a {
    text-decoration: none;
}

.bg-effect .bi {
    font-size: x-large;
    color: wheat;
    font-family: monospace;
    font-style: normal;
}

.bg-effect .bi:hover {
    font-size: xx-large;
    color: whitesmoke;
}



@keyframes mover {

    50% {
        transform: translateX(1em);
    }

}

@media (max-width: 768px) {

    .box-texto {
        text-align: center;
    }

    .box-skills {
        margin-top: 25rem;
    }

    .col-right img {
        height: 20rem;
    }
}

@media (max-width: 1200px) {
    .box-texto .parrafo {
        font-size: small;
    }

}